workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "368be222-83ce-471d-ad7a-53dfa0a0a36b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "LASjdqy0ntYml4tr",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b270e77c-e5b0-48a1-9049-e29705a3e542",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "c2d78ffd-ef9a-48e1-b3ac-a57bf6868fce",
              "name": "sender",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "35ac6285-7a6f-48e8-998f-1704e83d08e6",
              "name": "message",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "720b4644-c1c5-4455-8fa6-283fb516e6b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an email classifier.\n\nClassify the email into exactly one of these categories:\n\npersonal = casual messages from friends/family, conversations, greetings, plans, meetups.\njob = interviews, hiring, resumes, recruiters, applications.\nspam = scams, promotions, fake offers, suspicious marketing.\nnewsletter = subscriptions, updates, announcements, blogs.\nimportant = account alerts, banking, security, official notices, urgent updates.\n\nExamples:\n\"Hey bro are you free tomorrow?\" → personal\n\"Let's meet this evening\" → personal\n\"Interview scheduled tomorrow\" → job\n\"Your account security alert\" → important\n\"Weekly tech newsletter\" → newsletter\n\"Claim prize now!\" → spam\n\nNow classify this email:\n\nSubject: {{$json.subject}}\nFrom: {{$json.sender}}\nBody: {{$json.message}}\nReturn exactly one lowercase word only from this list:\npersonal\njob\nspam\nnewsletter\nimportant\n\nDo not add punctuation or explanation."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "cb8473b9-6f42-4ad7-9644-f44b7b974eca",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "XyqykKAYsQWcKG7e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "important",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c71730fb-c159-40d2-aa38-37f54c6271a6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cbd73bb1-e5ee-4a95-9328-8427654fd52e",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ec32f0ef-b6ef-4048-917d-99d4be032487",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b803a225-8df4-4ebb-8282-b5a9dc988f8b",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "job",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10607691-1c46-4fd7-bc9a-64f089f3b377",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "2fec389d-c80b-4db1-8478-e47e7f0c3d71",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From.match(/<(.+?)>/)[1] }}",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "emailType": "text",
        "message": "I have received the message. I will get back to you soon",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        224
      ],
      "id": "ac0ee521-147f-4c32-be82-fc46c838b0a9",
      "name": "Send a message",
      "webhookId": "2f63a6d8-4144-4ae2-a199-a640f1537d4d",
      "credentials": {
        "gmailOAuth2": {
          "id": "LASjdqy0ntYml4tr",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [],
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ad0870b8-111c-4ed8-ae96-b2ca693390d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a455461685361aab788c0ad14e2e02a26dec387975699718e92bcdfcbe12db9"
  },
  "id": "vWKa18Nz49uzGVfY",
  "tags": []
}